.auth {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
    width: 100%;

    button {
        cursor: pointer;

        &:disabled {
            background-color: #7085b3 !important;
            cursor: not-allowed;
        }
    }

    main {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 4rem 0;
        width: 100%;

        .auth__options {
            align-items: center;
            background: linear-gradient(to bottom right,
                    #f7f8fe, #e3edfe);
            border-radius: 1rem;
            box-shadow: 1em 1em 5em var(--text-light);
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            height: 45rem;
            padding: 1rem;
            width: 75%;

            .logo-background {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 75%;
                justify-content: center;

                img {
                    width: 85%;
                }
            }

            .tabs {
                height: 100%;
                position: relative;
                width: 100%;

                .auth__card {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    height: 100%;
                    justify-content: center;
                    left: 0;
                    padding: 1rem;
                    position: absolute;
                    top: 0;
                    transition: all 200ms;
                    width: 100%;

                    .auth__form,
                    .auth__form-input-section {
                        display: flex;
                        flex-direction: column;
                        transition: all 200ms;
                    }

                    .auth__form {
                        gap: 1.25rem;
                        width: 75%;
                        align-items: center;

                        .form__tab {
                            display: flex;
                            flex-direction: column;
                            gap: 1.25rem;
                            width: 100%;

                            .buttons {
                                display: flex;
                                flex-direction: row;
                                gap: 2.5rem;
                                justify-content: flex-end;
                            }
                        }

                        .auth__form-card {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .auth__form-input-section {
                                gap: 0.25rem;
                                position: relative;
                                width: 100%;

                                .label {
                                    position: absolute;
                                    left: 10px;
                                    top: 14px;
                                    transition: all 200ms;
                                    padding: 0 2px;
                                    z-index: 1;
                                    color: #000000;

                                    &::before {
                                        content: "";
                                        height: 8px;
                                        background: #dee3fd;
                                        position: absolute;
                                        left: 0;
                                        top: 10px;
                                        width: 100%;
                                        z-index: -1;
                                    }
                                }

                                .text-input,
                                .password-input {
                                    padding: 0.8rem;
                                    padding-right: 3rem;
                                    outline: none;
                                    width: 100%;
                                    height: 100%;
                                    border: 2px solid #2f2c45;
                                    background: #e7ebff;
                                    border-radius: 5px;
                                    font-size: 18px;
                                    outline: none;
                                    transition: all 300ms;
                                    color: #333333;

                                    &:focus {
                                        border: 2px solid #5d70ce;
                                        background: rgba($color: #5d70ce, $alpha: .15);
                                        box-shadow: 0px 0px 5px #5d70ce;
                                    }

                                    &:focus+.label,
                                    &:not(:placeholder-shown)+.label,
                                    .filled {
                                        top: -12px;
                                        color: #302670;
                                        font-size: 16px;
                                        font-weight: 600;
                                    }

                                    &::placeholder {
                                        font-size: 16px;
                                        opacity: 0;
                                        transition: all 300ms;
                                    }

                                    &:focus::placeholder {
                                        opacity: 1;
                                    }
                                }

                                .password-toggle {
                                    position: absolute;
                                    right: 5px;
                                    top: 3px;
                                    cursor: pointer;
                                    user-select: none;
                                    z-index: 99;
                                    height: 45px;
                                    width: 45px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: all 200ms;
                                    border-radius: 0.5rem;

                                    i {
                                        color: var(--royal-blue);
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }

                    .auth__link {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}