<div class="auth">
    <app-header></app-header>

    <main>
        <div class="auth__options">
            <div class="logo-background">
                <img src="../../../../assets/USTA.png" alt="">
            </div>

            <div class="tabs" *customIf="!internalServerError">
                <router-outlet></router-outlet>
            </div>

            <div *customIf="internalServerError">
                <app-internal-server-error></app-internal-server-error>
            </div>
        </div>
    </main>
</div>